.hero-section{
    overflow: hidden;
}

.hero-section .page-wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 170px;
}

.hero-section .page-wrapper .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    z-index: 1;
} 

.icon-container {    
    width: var(--step-8);
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.icon-container iconify-icon{
    font-size: var(--step-0);
    color: #b18b3f8a;
}

.hero-section .page-wrapper .text h1{
    font-size: var(--step--1);
    margin-block: 20px;
    color: #77530a;
    font-family: 'Abel', sans-serif;
}   

.hero-section .page-wrapper .text h2 {
    color: #4f4242;
    font-size: var(--step--4);
}

.hero-section .page-wrapper .text .call-to-action{
    margin: 30px 30px 0 30px;
    width: 100%;
    display: flex;
    justify-content: center ;
  
}

.hero-section .page-wrapper .happy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .page-wrapper .happy img{
    width: 650px;
    margin-left: 10px;
}

.hero-section .page-wrapper .call-to-action .cta-buts{
    width: var(--step-7);
    height: var(--step-1);
    font-size: var(--step--3);
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    animation: glow 3s infinite ease-in-out;
}

.page-wrapper .cta-buts::before{
    position: absolute;
    content: "Get Involved";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-size: 200%;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: #3d2901;
}

.page-wrapper .cta-buts:hover{
    background-position: right;
    transition-duration: 1s;
}

.page-wrapper .cta-buts:hover::before{
    background-position: right;
    transition-duration: 1s;
    color: #ffd277;
    background: linear-gradient(to right,#1e1d1c,#77530a,#1e1d1c);
}

.page-wrapper .cta-buts:active{
    transform: scale(0.92);
}


@media screen and (max-width: 1000px){
	
    /* navbar */
    nav .menu-icon{
        display: block;
	}

    /* hero - section */
    .hero-section .page-wrapper{
        justify-content: center;
        align-items: center;
    }

    .hero-section .page-wrapper .text{
        margin-top: 50px;
    } 

    .hero-section .page-wrapper .text{
        align-items: center;
    }

    .hero-section .page-wrapper .happy img{
        width: 350px;
    }  

    .hero-section .page-wrapper .text .call-to-action .cta-buts{
        margin: 0 auto;
    }
}


@media screen and (max-width: 1000px){


    .hero-section .page-wrapper .happy img{
        width: 250px;
    } 
} 
